/* Base style for all membership boxes */
.membership-box {
    -fx-background-radius: 12px;
    -fx-padding: 15px;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 2, 2);
    -fx-spacing: 10;
}
.membership-box:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.95;
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
}
.membership-box Label {
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 12px;
    -fx-font-style: italic;
    -fx-wrap-text: true;
}
.membership-title {
    -fx-font-size: 20px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.membershipBtn {
    -fx-background-color: #2C2C2E;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 20px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

.membershipBtn:hover {
    /* -fx-background-color: linear-gradient(to right, #0072ED, #00AEEF); */
    -fx-background-color:linear-gradient(to right, #2b5876, #4e4376);  
}

.membershipBtn:pressed {
    -fx-background-color:linear-gradient(to right, #1c3a4e, #3a3351);  
}