.root {
    -fx-font-family: 'Montserrat', 'Segoe UI', sans-serif;
}
.Label {
    -fx-font-family: 'Montserrat', 'Segoe UI', sans-serif;
}
.top-container {
    -fx-background-color: #00000066;
}
.logout-button {
    -fx-background-color: transparent;
    -fx-text-fill: #CCCCCC;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 6 12;
    -fx-background-radius: 6;
}
.logout-button:hover {
    -fx-background-color: red;
    -fx-text-fill: white;
}
.nav-panel {
    -fx-background-color: #7a7a7a;
}
.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill:  #CCCCCC;;
    -fx-font-size: 16px;
    -fx-font-weight: bold;  
    -fx-cursor: hand;
}

.nav-button:hover {
    -fx-background-color: #00000066;
    -fx-border-width: 0px 0px 2px 0px;
}
#welcomeLabel {
    -fx-font-family: 'Arial Rounded MT Bold', 'Arial', sans-serif;
    -fx-font-size: 28px;
    -fx-text-fill: linear-gradient(to right, #2b5876, #4e4376);
    -fx-font-weight: bold;
    -fx-padding: 15px 0 5px 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2, 0.5, 0, 1);
}
#bookSessionBtn {
    -fx-background-color: #2C2C2E;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 20px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.2, 0, 2);
    -fx-transition: all 0.3s ease;
}

#bookSessionBtn:hover {
    -fx-background-color: linear-gradient(to right, #0072ED, #00AEEF);
    -fx-effect: dropshadow(gaussian, #00D08455, 8, 0.2, 0, 3);
}

#bookSessionBtn:pressed {
    -fx-background-color: linear-gradient(to right, #008A57, #00A763);
}

#cancelSessionBtn {
    -fx-background-color: grey;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 20px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.2, 0, 2);
    -fx-transition: all 0.3s ease;
}

#cancelSessionBtn:hover {
    -fx-background-color: linear-gradient(to right, #ED2D2D, #FF5252);
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #FF525255, 8, 0.2, 0, 3);
}

#cancelSessionBtn:pressed {
    -fx-background-color: linear-gradient(to right, #CC2424, #ED2D2D);
}
.logout-button {
    -fx-background-color: transparent;
    -fx-text-fill: #CCCCCC;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 6 12;
    -fx-background-radius: 6;
    -fx-border-color: linear-gradient(to right, #0072ED, #00AEEF);;
    -fx-border-width: 0px 0px 2px 0px;
}

.logout-button:hover {
    -fx-background-color: linear-gradient(to right, #0072ED, #00AEEF);
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-width: 0px 0px 0px 0px;
}
.nav-panel {
    -fx-background-color: #7a7a7a;
}
.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill:  #CCCCCC;;
    -fx-font-size: 16px;
    -fx-font-weight: bold;  
    -fx-cursor: hand;
}

.nav-button:hover {
    -fx-background-color: #00000066;
}
#welcomeLabel {
    -fx-font-family: 'Arial Rounded MT Bold', 'Arial', sans-serif;
    -fx-font-size: 28px;
    -fx-text-fill: linear-gradient(to right, #2b5876, #4e4376);
    -fx-font-weight: bold;
    -fx-padding: 15px 0 5px 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2, 0.5, 0, 1);
}
#bookSessionBtn {
    -fx-background-color: #2C2C2E;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 20px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

#bookSessionBtn:hover {
    /* -fx-background-color: linear-gradient(to right, #0072ED, #00AEEF); */
    -fx-background-color:linear-gradient(to right, #2b5876, #4e4376);  
}

#bookSessionBtn:pressed {
    -fx-background-color:linear-gradient(to right, #1c3a4e, #3a3351);  
}

#cancelSessionBtn {
    -fx-background-color: grey;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 20px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.2, 0, 2);
    -fx-transition: all 0.3s ease;
}

#cancelSessionBtn:hover {
    -fx-background-color: linear-gradient(to right, #ED2D2D, #FF5252);
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #FF525255, 8, 0.2, 0, 3);
}

#cancelSessionBtn:pressed {
    -fx-background-color: linear-gradient(to right, #CC2424, #ED2D2D);
}

.field {
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: e0e0e0;
}

.field:hover {
    -fx-border-color: linear-gradient(to right, #0072ED, #00AEEF);
    -fx-border-width: 0px 0px 2px 0px;
}
.field:focused {
    -fx-border-color: linear-gradient(to right, #0072ED, #00AEEF);
    -fx-border-width: 0px 0px 2px 0px;
}
.box {
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: e0e0e0;
}

.box:hover {
    -fx-border-color:  #7a7a7a;
    -fx-border-width: 0px 0px 2px 0px;
}


